<!DOCTYPE html>
<html>

<head>
  {{ partial "head.html" . }}
</head>

<body>
  <div class="container">
    {{ partial "header.html" . }}
    <div class="content">
      <div class="posts">
        <div class="post">
          <h2 class="post-title"><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
          <span class="post-date">{{ .Date.Format "Jan 2, 2006 " }}</span>
          <div class="post-content">
            {{ .Content }}
          </div>
        </div>
        <div class="pagination">{{ if .Prev }}
          <a class="btn previous " href="{{.Prev.Permalink}}"> Prev</a> {{ end }} {{ if .Next }}
          <a class="btn next " href="{{.Next.Permalink}}"> Next</a> {{ end }}
        </div>
      </div>
    </div>
    {{ partial "footer.html" . }}
  </div>
  <script src="{{ .Site.BaseURL }}/js/slim.js"></script>
  <script src="{{ .Site.BaseURL }}/js/highlight.min.js"></script>
  <script>
    hljs.initHighlightingOnLoad();
  </script>
  {{ with .Site.Params.AnalyticsID }}{{ partial "analytics.html" . }}{{ end }}
</body>

</html>
