header.navigation {
  max-width: var(--contentWidth);
  margin: 9rem auto;
}

.site-title {
  font-size: 2rem;
  font-weight: 700;

  & a,
  & a:hover {
    color: var(--mainColor);
    text-decoration: none;
  }
}

.site-subtitle {
  color: var(--greyColor);
}

.nav {
  position: relative;
}

.nav-list {
  list-style: none;
  font-size: 1rem;
  margin-top: 1rem;
  padding: 0;
  transition: all 0.2s;
  position: relative;
}

.nav-item {
  display: inline-block;
  position: relative;

  &:after {
    content: "/";
    color: var(--mainColor);
  }
}

.nav-item:last-child {
  &:after {
    content: "";
  }
}

.nav-item.active .nav-link:after {
  content: "^";
  position: absolute;
  left: 45%;
  bottom: -80%;
}

.nav-link {
  color: var(--mainColor);
  display: inline-block;
  position: relative;
}
