@import 'normalize.css';
@import '_navigation.css';
@import '_post.css';
@import '_pagination.css';
@import '_footer.css';
@import '../../../node_modules/amoicons/build/amoicons.css';
@custom-selector :--heading h1, h2, h3, h4, h5, h6;
@custom-media --small-viewport (max-width: 30em);


:root {
  --fontSize: 1rem;
  --mainColor: #333333;
  --greyColor: #bcc1c1;
  --linkColor: #2980b9;
  --highlightColor: #26c6da;
  --contentWidth: 640px;
}


body {
  margin: 0 1em;
  color: var(--mainColor);
  font-family: system-ui;
  font-size: calc(var(--fontSize) * 1.1);
  font-weight: 400;
  line-height: 1.7;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  margin-bottom: 1.75rem;
}

td,
th {
  padding: 0.25rem 0.5rem;
}

tbody tr:nth-child(odd) td,
tbody tr:nth-child(odd) th {
  background-color: #f9f9f9;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  line-height: 1.25;
  margin-bottom: 0.75rem;
}

h1 {
  font-size: 1.8rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.25rem;
}

h4,
h5,
h6 {
  font-size: 1rem;
}

p,
dl,
ol,
ul {
  margin-top: 0;
  margin-bottom: 1.75rem;
}

a {
  color: var(--linkColor);
  text-decoration: none;
  transition: all .35s;
}

a:hover,
a:focus {
  color: color(var(--linkColor) shade(20%));
}

code {
  font-family: 'Source Code Pro', Monaco, Courier, monospace;
  font-size: 1rem;
  color: #555;
  background-color: #f5f5f5;
  border: 1px solid #eef;
  border-radius: 3px;
  padding: 0.2em 0.5em;
}

pre {
  display: block;
  padding: 20px;
  font-size: 16px;
  line-height: 1.4;
  white-space: pre;
  white-space: pre-wrap;
  word-break: break-all;
  word-wrap: break-word;
  background-color: #f9f9f9;
}

pre code {
  font-family: 'Source Code Pro', Menlo, Monaco, Courier, monospace;
  padding: 0;
  color: inherit;
  background-color: transparent;
  border: none;
}

blockquote {
  padding: 0.5rem 1rem;
  margin: 0.8rem 0 0.8rem -1.5rem;
  color: #7a7a7a;
  border-left: 0.3rem solid #e5e5e5;
}

blockquote p:last-child {
  margin-bottom: 0;
}

hr {
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  display: block;
  width: 150px;
  margin: 1.5rem 0;
}

button,
.btn {
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 5px;
  color: #ccc;
  cursor: pointer;
  display: inline-block;
  font-family: inherit;
  font-size: 85%;
  line-height: normal;
  padding: 0.5rem 0.75rem;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  vertical-align: middle;
  white-space: nowrap;
  transition: all 0.3s;
}

button::-moz-focus-inner,
.btn::-moz-focus-inner {
  padding: 0;
  border: 0;
}

button:hover,
button:focus,
.btn:hover,
.btn:focus {
  color: #7fdbff;
  border: 1px solid #7fdbff;
  transition: all 0.3s;
  text-decoration: none;
}

button:active,
.btn:active {
  color: #0074d9;
  border: 1px solid #0074d9;
  transition: all 0.3s;
}

.header {
  position: relative;
  margin: 3rem auto;
}

.ci {
  display: inline-block;
  font-size: inherit;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  position: relative;
  vertical-align: top;
}

.ci:before,
.ci:after {
  content: "";
  display: block;
  position: absolute;
}

.ci-burger {
  width: 16px;
  height: 3px;
  top: 7px;
  left: 0;
  background: #333;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.ci-burger:before,
.ci-burger:after {
  width: 100%;
  height: 3px;
  background: #333;
  left: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.ci-burger:before {
  top: -6px;
}

.ci-burger:after {
  bottom: -6px;
}