<div class="header">
  <h1 class="site-title"><a href="{{ .Site.BaseUrl }}">Zhe Zhang</a></h1>
  <p class="site-tagline">A personal site made in Shanghai.</p>
  <div class="nav">
    <a class="nav-btn" href="#">
      <span class="ci ci-burger"></span>
    </a>
    <ul class="nav-list">
      <li><a href="https://github.com/zhe">Github</a></li>
      <li><a href="https://twitter.com/neomana">Twitter</a></li>
      <li><a href="http://linkedin.com/in/zhangzhe">LinkedIn</a></li>
    </ul>
  </div>
</div>
